.header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.main {
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px;
    background-color: lightgray;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    top: 18%;
    left: 47.5%;
}
